@import './variables';
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

#app {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .square-container {
        max-height: 600px;
        max-width: 600px;
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        align-self: center;
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        .square {
            aspect-ratio: 1/ 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &.black {
                background-color: $black_spot;
            }
            &.white {
                background-color: $white_spot;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                cursor: pointer;
            }
            .available_square {
                width: 30%;
                aspect-ratio: 1/1;
                opacity: 0.15;
                background-color: black;
                border-radius: 50%;
            }
        }
    }
}